* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    body {
        width: 750px;
    }
}

@media (min-width: 992px) {
    body {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    body {
        width: 1170px;
    }
}
